* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/*Tag selectors*/
h1{
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  color: gray;

}

p {
}

a {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1, h2, h3, p {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  color: white;
  font-size: 2em;
}

header, footer {
  background-color: lightblue;
  color: white;
  text-align: center;
}

header {
  margin-top: -10px;
}

footer {
  margin-bottom: -10px;
}

img {
  width: 100%;
  margin: auto;
  display: block;
  opacity: 0.7;
  border: solid grey 1px;
  border-radius: 5px;
  box-shadow: 8px 8px 6px #888888;
}


.main-header a {
  display: inliine-block;
}

.name,
.main-nav,
.main-nav li {
  display: inline-block;
}

.container {
  width: 50%;
  margin: auto;
}

.wrap {
    min-height: calc(100vh - 18px);
}

@font-face {
  font-family: 'Roboto';
   src: url('Roboto-ThinItalic-webfont.eot');
   src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('Roboto-ThinItalic-webfont.woff') format('woff'),
        url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
        url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
   font-weight: 200;
   font-style: italic;
}
