* {
  box-sizing: border-box;
  font-family: monospace;
}

/*Tag selectors*/
h1{
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  color: gray;
}

p {

}

@font-face {
  font-family: 'Roboto';
   src: url('Roboto-ThinItalic-webfont.eot');
   src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('Roboto-ThinItalic-webfont.woff') format('woff'),
        url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
        url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
   font-weight: 200;
   font-style: italic;
}
